<% open('ngrok.log') do |f| %>
  <% f.lines.select { |line| line.include?("URL:") }.each do |line| %>
    <h1>Servidor de AlexAzumi</h1>
    <strong>Minecraft Server IP:</strong> <%= line.match(/tcp:\/\/(.+:[0-9]+) /)[1] %>
    <br />
    <br />
    <i>Please wait at least a minute before joining the server.</i>
    <br />
  <% end %>
<% end %>
<style>
  * {
    font-family: Arial;
    font-size: 1.2em;
  }

  h1 {
    font-family: sans-serif !important;
  }
</style>
